name: acceptance
on:
  push:
  pull_request:
    branches:
      - main
      - 'stable-*'
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install pipenv
        run: pip install pipenv
      - name: Week number
        id: weeknum
        run: |
          echo "weeknum=$(/bin/date -u '+%g.%V')" >> $GITHUB_OUTPUT
        shell: bash
      - uses: actions/cache@v4
        with:
          path: |
            ~/.local/share/virtualenvs
            Pipfile.lock
          key: ${{ runner.os }}-w${{ steps.weeknum.outputs.weeknum }}-python-${{ steps.setup-python.outputs.python-version }}-pipenv-${{ hashFiles('Pipfile') }}
      - name: Install dependencies
        run: PIPENV_VERBOSITY=-1 make fake-sync pipenv-dev
      - name: Generate requirements.txt file
        run: |
          pip install pipenv
          pipenv requirements > requirements.txt
          pip install -r requirements.txt
      - name: Run linters
        uses: karpikpl/pylint-action@1.1.0
      - name: Run acceptance check
        run: PIPENV_VERBOSITY=-1 make -k all-is-package
